@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");

body {
  font-family: "Roboto", "sans-serif";
  font-weight: 400;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

a.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.navigation {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #212121;
}

.navigation:hover {
  color: #2196f3;
}

.current-link {
  color: #2196f3;
  text-decoration: none;
}

.contact-information {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}

.contact-information:hover {
  color: #2196f3;
}

.hero-section {
  background-color: #2f303a;
}

h1.page-heading {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.button {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.page-head {
  background-color: #2f303a;
}

h3.goals-title {
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

p.goals-details {
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

h2.what-we-do-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

h2.our-team-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.our-team {
  background-color: #f5f4fa;
}

h3.member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

p.job {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

a.map {
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

a.contact-info-footer {
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-background {
  background-color: #2f303a;
}

/* Portfolio page starts here*/

a.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

ul.contact-info {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.list-of-buttons {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #212121;
  border: none;
  background-color: #f5f4fa;
  cursor: pointer;
}

.list-of-buttons:hover {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-current {
  background-color: #2196f3;
  color: white;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-request:hover {
  background-color: #188ce8;
}

h2.headings {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

p.headings-text {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

a.map {
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

a.contact-info-footer {
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

a.contact-info-footer:hover,
a.contact-info-footer:focus {
  color: white;
}
